/* Css Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
  list-style: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* NavBar Section */

.main_nav_bar {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  margin: 0;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}

.navbar_left {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: -8px;
}

.navbar_left a {
  padding: 10px;
  color: #000;
  margin-right: 10px;
  font-weight: 800;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.navbar_left i {
  color: #333;
  font-size: 10px;
  margin: 0 auto;
  margin-right: 25px;
  justify-content: space-between;
}

.navbar_left .fa-search {
  margin: 0 auto;
  padding-left: 0px;
  font-size: 15px;
}

.navbar_left .fa-bars {
  font: 15px;
  padding-left: 10px;
  margin-left: 10px;
}

.navbar_right a {
  background-color: rgb(86, 123, 149);
  color: white;
  padding: 7px 12px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

/* Main Section */

.flex-column {
  flex-direction: column;
}

.flex-align {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  max-width: 1200px;
}

figure figcaption {
  font-size: 14px;
  color: #666;
  margin-right: 270px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-section {
  margin-top: 100px;
  padding: 0 90px;
}

.main-section h1 {
  font-size: 40px;
  max-width: 600px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}

.main-section-header-1 {
  display: flex;
  justify-content: center;
}

.main-section figure {
  padding: 0 55px;
  margin-bottom: 40px;
}

.main-fig-1 {
  font-size: 13px;
}




.main-section figure img {
  width: 100%;
  margin-bottom: 10px;
}

/* Article Section */

.main_article {
  width: 50%;
  margin: 0 auto;
  line-height: 30px;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
}

.p-1-social p {
  margin: 0;
}

.p-1 {
  flex-direction: row;
}

p a {
  color: #326891;
  text-decoration: underline;
}

.author-info {
  display: flex;
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.author-info-link {
  color: #333;
}

.p-1 .p-1-social {
  margin: 15px 0 25px 0;
  justify-content: space-between;
  margin-left: 350px;
}

.article-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.subscribe-text {
  text-align: center;
  line-height: 6px;
  font-weight: 700;
  font-size: 18px;
  margin: 20px;
}

.line-1 {
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 0 auto;
}

.line-2 {
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 0 auto;
  padding-top: 15px;
}

.main-theory{
 width: 72%;
 margin: 40px auto;
}

.article-thumbnail{
position: relative;
padding-bottom: 50px;
width: 72%;
}

.article-thumbnail img{
  width: 970px;
}

.article-thumbnail .thumbnail-item-1{
  justify-content: space-between;
  flex-wrap: wrap;
}

.img-articles-container{
  display: flex;
}

.img-articles-container div{
  width: 72%;
  margin-top: 150px;
  font-size: 13px;
  font-weight: 300;
}

.img-articles-container span{
  font-weight: bold;
  font-size: 11px;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.author-name{
  color:#333;
  font-size: 14px;
  margin-bottom: 15px;
}

hr{
width: 65px;
border: 0.7px solid #333;
}

.third-section{
  width: 50%;
  margin: 0 auto;
  line-height: 30px;
  font-size: 20px;
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
}
figure {
  margin: 20px 0;
}
figure img {
  width: 100%;
}
.sub{
  display: flex;
}

.social-icon{
  display: flex;

  align-items: center;
}

.fourth-section-container {
  max-width: 1280px;
  margin: 20px auto;
  padding: 40px;
}

.fourth-section h4 {
  padding: 16px 0;
  border-top: black 1px solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.fourth-section-left {
  width: 850px;
  display: inline-block;
}

.fourth-section-right {
  width: 315px;
  float: right;
}

.space-section,
.editor-picks {
  display: grid;
  grid-template-columns: 270px 270px 270px;
  gap: 17px;
}

.fourth-grid article {
  display: flex;
  flex-direction: column;
}

.fourth-grid figure figcaption {
  width: 100%;
  text-align: end;
  color: #999;
  font-size: 10px;
  margin: 3px;
}

